KUFAR_PROFILE_ID=11093294
KUFAR_PROFILE_URL=https://re.kufar.by/p/ooo-mezhdunarodnaya-rielterskaya-kompaniya-etazhi/11093294
BIR_SEARCH_URL=https://bir.by/search-by-parameters/
BIR_REFRESH_MINUTES=15
TELEGRAM_BOT_TOKEN=
CF_ACCOUNT_ID=
CF_D1_DATABASE_ID=
CF_D1_API_TOKEN=
HEADLESS=1
SEND_SCREENSHOTS=1
